.taskList{
    background-color: bisque;
    margin:3px;
    padding:3px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}
.task{
    padding: 3px;
    border:solid;
    font-weight: bolder;
    font-size: large;
    border-radius: 5px;
    margin:3px;
    border-color:rgb(114, 89, 58);
}

input[type="button"]{
    font-size: large;
    width:49%;
}

input[type="text"]{
    font-size: large;
    width:100%;
}

body{
    border:solid;
    border-radius:15px;
    padding:10px;
    margin:3px;
    width:400px;
}